<% include header %>
<h1 class="display-4" style="text-align: center; margin: 3rem;"> Armas</h1>
  <table class="table table-hover" style="margin-top: 3rem;">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Información</th>
      </tr>
    </thead>
   <tbody>
    
      <tr>
        <th scope="row"><img src="../recursos/descarga.png" alt="pistola" style="width: 2rem; height: 2rem;"></th>
        <td>Pistola</td>
        <td>Un zombi es una criatura sin conciencia ni autodeterminación, que solo cumple órdenes o que actúa por impulso</td>

      </tr>
      <tr>
        <th scope="row" ><img src="../recursos/acha.png" alt="Acha" style="width: 2rem; height: 2rem;"></th>
        <td>Acha</td>
        <td>Un zombi es una criatura sin conciencia ni autodeterminación, que solo cumple órdenes o que actúa por impulso</td>
      </tr>
      <tr>
        <th scope="row" ><img src="../recursos/boomerang.jpg" alt="bom" style="width: 2rem; height: 2rem;"></th>
        <td>Boomerang</td>
        <td>Un zombi es una criatura sin conciencia ni autodeterminación, que solo cumple órdenes o que actúa por impulso</td>
      </tr>
    </tbody>
  </table>
<% include footer %>